.card {
    color: lightblue;
    padding: 20px;
    margin-top: 20px;
    border: $borderWidth solid $borderColor;
    background-image: resolve('adamWarlock.png');
    background-repeat: no-repeat;
    background-position: center;
    width: width('adamWarlock.png');
    height: height('adamWarlock.png');

    h2 {
        color: red;
    }
}